# Miscellaneous
*.class
*.log
*.err
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Local toolchains (not part of source)
/flutter/
/git/
/jdk/
/android_sdk/

# Local build output
/0A产物！！！！！/
/lan_broadcast.apk
/lan_broadcast_windows/
vs_BuildTools.exe

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/.kotlin/
/android/local.properties
key.properties
**/*.keystore
**/*.jks

# Generated
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
